@tailwind base;

@layer base {
  h1 {
    @apply text-[37px] font-bold;
  }
  h2 {
    @apply text-[29px] font-bold;
  }
  h3 {
    @apply text-[25.8px] font-bold;
  }
  h4 {
    @apply text-[21px] font-bold;
  }
  h5 {
    @apply text-[17.8px] font-bold;
  }
  h6 {
    @apply text-[16.2px] font-bold;
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }
}

@tailwind components;
@tailwind utilities;

@layer components {
  .button-category {
    @apply bg-gray-200 text-gray-600 hover:text-gray-800 py-1 text-sm inline-block;
  }

  .button {
    @apply mt-7 justify-center items-center gap-2 px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-normal uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out;
  }

  .input-edit-profile {
    @apply mt-1 mb-4 block w-full px-1 py-1 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500 disabled:bg-slate-200 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none invalid:border-pink-500 invalid:text-pink-600 focus:invalid:border-pink-500 focus:invalid:ring-pink-500;
  }

  .item-link-sidebar {
    @apply block p-2 rounded-md border hover:bg-blue-400 hover:text-white transition-colors;
  }

  .link-categories {
    @apply transition-all border flex justify-between items-center w-full bg-white pl-2 sm:pl-10 pr-2 sm:pr-6 py-2.5 hover:shadow hover:shadow-blue-200 relative before:content-[''] before:absolute before:transition-all before:duration-[800ms] before:left-0 before:bottom-0 before:w-0 before:h-0 before:border-b-2 before:border-l-2 before:border-transparent hover:before:border-blue-400 hover:before:w-[52px] hover:before:h-full after:content-[''] after:absolute after:transition-all after:duration-[800ms] after:right-0 after:top-0 after:w-0 after:h-0 after:border-t-2 after:border-r-2 after:border-transparent hover:after:border-blue-400 hover:after:w-[52px] hover:after:h-full;
  }

  .button-action-category {
    @apply transition-colors flex gap-1 items-center py-2 px-1 rounded-full text-gray-100;
  }
}

/* Show Scroll */
.show-scroll {
  bottom: 1rem;
}

/* Scroll Bar */
::-webkit-scrollbar {
  width: 0.6rem;
  background-color: hsl(250, 12%, 90%);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(250, 12%, 80%);
  border-radius: 0.5rem;
}

/* Basic editor styles */
.text-editor {
  @apply rounded border border-[gray];
}

.menu-bar {
  @apply pb-1 flex items-center justify-between gap-2;
}

.menu-bar button {
  @apply text-lg py-[7px] px-[8px] m-1 outline-none border-none cursor-pointer bg-none;
  color: rgb(70, 70, 70);
}

.button-1 {
  margin: 0 !important;
  padding: 0 !important;
}

button.is-active {
  background: rgb(197, 197, 197);
  border-radius: 2px;
}

.ProseMirror {
  @apply p-[10px] border-t border-[grey] bg-white min-h-[150px] outline-none focus:shadow-lg cursor-text;
  border-radius: 0 0 5px 5px;
}
.ProseMirror > * + *,
.thread-body > * + * {
  @apply mt-[0.75em];
}

.ProseMirror ul,
.ProseMirror ol,
.thread-body ul,
.thread-body ol {
  @apply px-4;
}

.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3,
.ProseMirror h4,
.ProseMirror h5,
.ProseMirror h6,
.thread-body h1,
.thread-body h2,
.thread-body h3,
.thread-body h4,
.thread-body h5,
.thread-body h6 {
  line-height: 1.1;
}

.ProseMirror code,
.thread-body code {
  background-color: rgba(#616161, 0.1);
  color: #616161;
}

.ProseMirror pre,
.thread-body pre {
  @apply bg-[#0d0d0d] text-white py-3 px-4 rounded-lg;
  font-family: 'JetBrainsMono', monospace;
}
.ProseMirror pre code,
.thread-body pre code {
  @apply text-inherit p-0 bg-none text-[0.8rem];
}

.ProseMirror img,
.thread-body img {
  @apply max-w-full h-auto;
}

.ProseMirror blockquote,
.thread-body blockquote {
  @apply pl-4 border-l-2 border-[#9c9c9c];
}

.ProseMirror hr,
.thread-body hr {
  border: none;
  border-top: 2px solid #9c9c9c;
  margin: 2rem 0;
}
